<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>(Prototipe) Hasil Identifikasi</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/globals-identify.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style-identify.css') }}" />
        <!-- Tailwind CSS -->
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
        <!-- Flowbite Tailwind CSS -->
        <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
  </head>
  <body>
    <!-- Header -->
    <header class="bg-white text-dark fixed top-0 left-0 w-full z-10">
      <div class="container mx-auto flex justify-between items-center">
          <a href="/" class="text-2xl font-bold"><img src="{{ url_for('static', filename='/assets/images/bulog-logos.png') }}" style="width: 17%;" alt=""></a>
          <nav>
              <ul class="flex space-x-4">
                  <li><a href="/identify" class="hover:text-gray-300">Identifikasi</a></li>
                  <li><a href="/about" class="hover:text-gray-300">Tentang</a></li>
              </ul>
          </nav>
      </div>
  </header>
    <!-- Identification Result Page -->
     <main class="identify-page">
      <section class="identification-section">
        <h2 class="main-title">Hasil Identifikasi Kualitas Beras</h2>
        <!-- Image Result -->
        <div class="flex items-center justify-center">
          <img src="{{ image }}" style="height: 40ch;" class="object-contain rounded-3xl border-4 border-gray-600" />
        </div>
        <div class="container mx-auto py-5 pl-16 pr-16">
          {% if predicted_class == 0 %}
          <h3 class="p-caption-text">
            Kondisi Beras: Broken >25%
          </h3>
          {% elif predicted_class == 1 %}
          <h3 class="p-caption-text">
            Kondisi Beras: Full ( Broken (<=15%) )
          </h3>
          {% elif predicted_class == 2 %}
          <h3 class="p-caption-text">
            Kondisi Beras: Mixed ( Broken (>=15%) )
          </h3>
          {% endif %}
          <!-- <h3 class="p-caption-text">Kondisi Beras Dominan: 
          </h3> -->
          {% if predicted_class == 0 %}
          <h3 class="p-caption-text">Warna Beras: Putih
          </h3>
          {% elif predicted_class == 1 %}
          <h3 class="p-caption-text">Warna Beras: Putih
          </h3>
          {% elif predicted_class == 2 %}
          <h3 class="p-caption-text">Warna Beras: Putih
          </h3>
          {% endif %}
          <!-- <h3 class="p-caption-text">Warna Beras:
          </h3> -->
          <h2 class="p-caption-text">Hasil:</h2>
          <!-- If 0 Then Full, If 1 then Mixed, if 2 then Broken -->
          {% if predicted_class == 0 %}
          <h3 class="p-caption-text">Beras tersebut berkualitas Medium. Beras ini merupakan beras berkualitas paling rendah dibanding berbagai beras medium lainnya karena memiliki jumlah beras patah yang lebih banyak ( Broken (>25%) )</h3>
          {% elif predicted_class == 1 %}
          <h3 class="p-caption-text">Ini adalah Beras Premium. Dapat diketahui dengan jumlah butir patah yang lebih sedikit ( Broken (<=15%) ) sehingga dapat dipastikan ini adalah beras premium.
          </h3>
          {% elif predicted_class == 2 %}
          <h3 class="p-caption-text">Beras tersebut dapat berkualitas Medium atau Premium. Beras Medium ini memiliki jumlah beras patah sebanyak 15% atau lebih dari keseluruhan beras yang ada. Perlu diperhatikan tidak semua beras dengan jumlah patah yang tidak sedikit bukan berarti ini merupakan Beras Medium. Coba lakukan sorting dengan menggunakan alat penyaring (saringan, mesin ayakan, dsb) untuk memastikan jumlah beras patah lebih banyak atau sedikit.</h3>
          {% endif %}
          <!-- <h3 class="p-caption-text">Beras tersebut merupakan kualitas premium. Dapat dilihat dari banyak bulir yang utuh serta warna yang tidak terlihat kuning sehingga dapat dipastikan ini adalah beras premium.</h3> -->
          <!-- Other Component -->
           <!-- Accuracy and AI result -->
          <h3 class="p-caption-text">Akurasi: {{ final_accuracy }} %</h3>
        </div>
        <div class="flex mt-5 pl-16 pr-56">
          <a href="/identify" class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">Coba Lagi</a>
          <a href="/identify-feedback"><button class="text-white bg-blue-500 border border-blue-500 focus:outline-none hover:bg-blue-600 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-700 dark:border-blue-700 dark:hover:bg-blue-800 dark:focus:ring-blue-700">Feedback</button>
          </a>
        </div>
      </section>
     </main>
    <!-- Footer -->
    <footer class="bg-white shadow dark:bg-gray-800">
      <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 PT Perum BULOG Indonesia
      </span>
      <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
          <li>
              <a href="/about" class="hover:underline me-4 md:me-6">Tentang</a>
          </li>
          <li>
              <a href="/identify-feedback" class="hover:underline me-4 md:me-6">Feedback</a>
          </li>
        </ul>
      </div>
    </footer>
  </body>
  <!-- Script -->
  <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
  <script src="https://kit.fontawesome.com/11d45a8bf7.js" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='/js/uploader.js') }}"></script>
</html>
