<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>(Prototipe) Perum BULOG - Identifikasi Kualitas Beras</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/globals-identify.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style-identify.css') }}" />
        <!-- Tailwind CSS -->
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
        <!-- Flowbite Tailwind CSS -->
        <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
  </head>
  <body>
    <!-- Header -->
    <header class="bg-white text-dark fixed top-0 left-0 w-full z-10">
      <div class="container mx-auto flex justify-between items-center">
        <a id="index-button" href="/" class="text-2xl font-bold"><img src="{{ url_for('static', filename='/assets/images/bulog-logos.png') }}" style="width: 17%;" alt=""></a>
          <nav>
            <ul class="flex space-x-4">
              <li><a id="identify-bar" href="/identify" class="hover:text-gray-300">Identifikasi</a></li>
              <li><a id="about-bar" href="/about" class="hover:text-gray-300">Tentang</a></li>
            </ul>
          </nav>
      </div>
  </header>
    <main class="identify-page">
      <section class="identification-section">
        <h2 class="main-title">Identifikasi Kualitas Beras</h2>
        <h3 class="h-caption-label">Upload Sampelmu Disini</h3>
        <p class="p-caption-text">Pastikan sampel beras yang akan diidentifikasi terlihat jelas, direkomendasikan menggunakan gambar ukuran 256x256px.</p>
        <!-- Upload Container -->
        <div class="flex items-center justify-center w-full h-50">
          <form id="submit-images" action="{{ url_for('identify') }}" method="post" enctype="multipart/form-data">
              <label for="dropzone-file" id="dropzone" class="flex flex-col items-center justify-center w-full h-70 p-20 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-gray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                  <div class="flex flex-col items-center justify-center pt-5 pb-6">
                      <img id="icon" src="{{ url_for('static', filename='/assets/images/icons/file-arrow-up-solid.svg') }}" style="height: 10ch; margin-bottom: 5ch;" alt="Upload Icon">
                      <p id="upload-text" class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Klik untuk mengupload</span> atau <span class="font-semibold">tarik gambar ke dalam kotak ini</span></p>
                      <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, atau JPG. Direkomendasikan dengan gambar ukuran 256x256px</p>
                  </div>
                  <input type="file" id="dropzone-file" name="image" class="hidden" accept="image/*" required>
                  <div id="preview" class="hidden w-full h-full flex items-center justify-center">
                      <img id="preview-image" class="max-h-full max-w-full object-contain" />
                  </div>
              </label>
              <div class="flex justify-center mt-5">
                  <button type="submit" class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700" id="identification-start">Identifikasi</button>
              </div>
          </form>
      </div>
        </section>
      </main>
    <!-- Footer -->
    <footer class="bg-white shadow dark:bg-gray-800">
      <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 PT Perum BULOG Indonesia
      </span>
      <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
        <li>
          <a id="about-footer" href="/about" class="hover:underline me-4 md:me-6">Tentang</a>
      </li>
      <li>
          <a id="feedback-footer" href="/identify-feedback" class="hover:underline me-4 md:me-6">Feedback</a>
      </li>
        </ul>
      </div>
    </footer>
  </body>
  <!-- Script -->
  <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
  <script src="https://kit.fontawesome.com/11d45a8bf7.js" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='/js/uploader.js') }}"></script>
</html>
