<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>(Prototipe) Perum BULOG - Identifikasi Kualitas Beras</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/globals.css')}}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css')}}" />
    <!-- Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <!-- Flowbite Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
  </head>
  <body>
    <!-- Header -->
    <header class="bg-white text-dark">
      <div class="container mx-auto flex justify-between items-center">
        <a href="/" class="text-2xl font-bold"><img src="{{ url_for('static', filename='/assets/images/bulog-logos.png')}}" style="width: 17%;" alt=""></a>
        <nav>
          <ul class="flex space-x-4">
            <li><a href="/identify" class="hover:text-gray-300">Identifikasi</a></li>
            <li><a href="/about" class="hover:text-gray-300">Tentang</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <!-- Gradient Jumbotron -->
    <div class="bg-gradient-to-r from-cyan-500 to-blue-500 text-white p-5">
      <div class="container mx-auto py-20">
        <h1 class="text-4xl font-bold">Identifikasi Kualitas Beras</h1>
        <p class="text-lg">Ingin mengetahui kualitas beras yang anda punya? Cobalah untuk mengidentifikasikannya disini.</p>
        <a href="/identify">
          <button type="button" class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-full text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">Coba</button>
        </a>
      </div>
      </main>
    </div>
    <div>
      <div class="container mx-auto py-20">
        <h2 class="text-2xl font-bold">Ketahui kualitas beras kalian</h2>
        <p class="text-lg">Kami menyediakan layanan identifikasi kualitas beras yang anda punya. Dengan menggunakan teknologi AI, kami dapat membantu anda mengetahui kualitas beras yang anda punya.</p>
    </div>
    <!-- Footer -->
    <footer class="bg-white rounded-lg shadow m-4 dark:bg-gray-800">
      <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 PT Perum BULOG Indonesia
      </span>
      <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
          <li>
              <a href="/about" class="hover:underline me-4 md:me-6">Tentang</a>
          </li>
          <li>
              <a href="/identify-feedback" class="hover:underline me-4 md:me-6">Feedback</a>
          </li>
        </ul>
      </div>
    </footer>
  </body>
  <!-- Script -->
  <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
</html>
